* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  background-image: url(./assets/bg.jpg);
  background-repeat: repeat;
  font-family: 黑体, arial, "Microsoft YaHei", 微软雅黑;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  /* 项目的排列方向和换行 */
  flex-flow: row wrap;
  /* 项目在主轴对齐 */
  justify-content: center;
  /* 项目在交叉轴的对齐方式 */
  align-content: flex-start;
  height: auto;
}
.content-unit {
  position: relative;
  box-sizing: content-box;

  flex: 0 0 100%;
  /* 定义二级felx容器 */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  text-align: justify;
}

/* 封面部分 */
.content-unit .media,
.content-unit .mask {
  min-width: 100%;
}

.content-unit .media video,
.content-unit .media img {
  /* 图片、视频成比例自适应 */
  width: 100%;
}
.content-unit .media {
  position: relative;
}
.content-unit .mask {
  position: absolute;
}
.content-unit .mask .intro {
  font-size: 32px;
  color: #fff;
}

/* 行业报告、图表呈现部分 */
.part2-graph {
    text-align: center;
    font-weight: bold;
}
#mix-line-bar {
    min-height: 300px;
}
#part2-graph-geo {
    /* min-height: 300px; */
}

/* 安全问题 */
.image-center {
  position: relative;
}
.image-center img {
  width: 100%;
}

/* 对比列表样式 */
.contrast-list {
  position: relative;
}
.contrast-list ul {
  overflow-x: scroll;
  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  
  width: 100%;
  box-sizing: content-box;
  border: 2px solid #38719d;
  border-radius: 10px;

  /* 隐藏IE10+滚动条 */
  -ms-overflow-style: none;
}
/* 隐藏Chrome和Safari滚动条 */
.contrast-list ul::-webkit-scrollbar {
  display: none;
}
.contrast-list ul li { 
  flex: 0 0 95%;
  padding: 0 2.5%;
}
.contrast-list ul li div {
  box-sizing: content-box;
  margin: 10px 0;
}
.contrast-list ul li div:nth-child(1) {
  color: #38719d;
}
.contrast-list ul li div:nth-child(2) {
  color: #F47c4c;
}

.paragraph {
  box-sizing: content-box;
  position: relative;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  color: #3e3a39;
  text-indent: 2em;
}
.paragraph p {
    margin: 10px 0;
}
.unit-header-2 {
  box-sizing: content-box;
  position: relative;
  color: #38719d;
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: 24px;
}
.component-intro {
  box-sizing: content-box;
  position: relative;
  font-size: 14px;
  color: #666;
}
.blockquote {
    box-sizing: content-box;
    position: relative;
    padding: 5px 0 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #38719D;
    border-left: 4px solid #38719D;
}

@media only screen and (min-width: 500px) {
  .paragraph {
    width: 80%;
    margin: 10px 0;
  }
  .component-intro {
    width: 80%;
    margin: 10px 0;
  }
  .blockquote {
    width: 80%;
    margin: 10px 0;
  }
  .part2-graph {
    width: 80%;
    margin: 10px 0;
  }
  .image-center {
    width: 80%;
    margin: 10px 0;
  }
  .contrast-list {
    width: 80%;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 500px) {
  .paragraph {
    margin: 10px 20px;
    width: 100%;
  }
  .component-intro {
    margin: 10px 20px;
    width: 100%;
  }
  .blockquote {
    margin: 10px 20px;
    width: 100%;
  }
  .part2-graph {
    margin: 10px 20px;
    width: 80%;
  }
  .image-center {
    margin: 10px 20px;
    width: 100%;
  }
  .contrast-list {
    margin: 10px 20px;
    width: 100%;
  }
}
