* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  background-image: url(./assets/bg.png);
  background-repeat: repeat;
  font-family: 黑体, arial, "Microsoft YaHei", 微软雅黑;
  /* 隐藏IE10+滚动条 */
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  /* 项目的排列方向和换行 */
  flex-flow: row wrap;
  /* 项目在主轴对齐 */
  justify-content: center;
  /* 项目在交叉轴的对齐方式 */
  align-content: flex-start;
  height: auto;
}
.content-unit {
  position: relative;
  box-sizing: content-box;

  flex: 0 0 100%;
  /* 定义二级felx容器 */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  text-align: justify;
}

/* 封面部分 */
.content-unit .media,
.content-unit .mask {
  min-width: 100%;
}

.content-unit .media video,
.content-unit .media img {
  /* 图片、视频成比例自适应 */
  width: 100%;
}
.content-unit .media {
  position: relative;
}
.content-unit .mask {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  top: 0;
  bottom: 3px;
}
/* 信息浮层 */
.content-unit .info {
  position: absolute;
  width: 100%;
}
.content-unit .info .logo {
  width: 30%;
  margin: 10px auto;
}
.content-unit .info .logo img {
  width: 100%;
}
.content-unit .info .intro {
  color: #eae7e4;
  font-weight: bold;
  text-align: center;
  letter-spacing: .25em;
}

.single-sentences {
  text-indent: 0 !important;
}

/* 行业报告、图表呈现部分 */
.part2-graph {
  text-align: center;
  font-weight: bold;
}
#mix-line-bar {
  min-height: 300px;
}

/* 安全问题 */
.image-center {
  position: relative;
}
.image-center img {
  width: 100%;
}

/* 对比列表样式 */
.contrast-list {
  position: relative;
}
.contrast-list ul {
  overflow-y: scroll;
  /* list-style: none; */ /* 横 */

  /* display: flex; */ /* 横 */
  /* flex-flow: row nowrap; */ /* 横 */

  width: 100%;
  box-sizing: content-box;
  border: 2px solid #3e3a39;
  border-radius: 10px;

  /* 隐藏IE10+滚动条 */
  -ms-overflow-style: none;
}
/* 隐藏Chrome和Safari滚动条 */
.contrast-list ul::-webkit-scrollbar {
  display: none;
}
.contrast-list ul li {
  /* flex: 0 0 95%; */ /* 横 */
  /* padding: 0 2.5%;  */ /* 横 */
  padding: 0 5%;
}
.contrast-list ul li div {
  box-sizing: content-box;
  /* margin: 10px 0; */ /* 横 */
}
.contrast-list ul li div:nth-child(1) {
  margin: 20px 0 10px; /* 竖 */
  color: #004a83;
}
.contrast-list ul li div:nth-child(2) {
  margin: 10px 0 20px; /* 竖 */
  color: #830000;
}

.paragraph {
  box-sizing: content-box;
  position: relative;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  color: #3e3a39;
  text-indent: 2em;
}
.paragraph p {
  margin: 10px 0;
}
.unit-header-2 {
  box-sizing: content-box;
  position: relative;
  color: #004a83;
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: 24px;
  font-weight: bold;
}
.component-intro {
  box-sizing: content-box;
  position: relative;
  font-size: 14px;
  color: #666;
}
.blockquote {
  box-sizing: content-box;
  position: relative;
  padding: 5px 0 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #004a83;
  border-left: 4px solid #004a83;
}
.view-diff {
}
.view-diff img {
  width: 100%;
}
.view-diff .comment {
  box-sizing: content-box;

  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  color: #004a83;

  /* 居中 */
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.view-diff .comment p {
  text-align: justify;
  line-height: 1.8;
  text-indent: 2em;
}

.reference {
  font-size: 14px;
  line-height: 1.5;
}
.newtimes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.newtimes span {
  flex: 0 0 100%;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.newtimes span:nth-child(3) {
  margin: 20px 0;
}
.newtimes .logo {
  width: 50%;
  margin: 0 0 50px;
}
.newtimes .logo img {
  width: 100%;
}

.legend {
  display: flex;
  flex-flow: row nowrap;
}
.legend .legend-left {
  width: 50%;
}
.legend .legend-left .block {
  float: left;
  display: inline-block;
  background-color: #004a83;
  height: 18px;
  width: 32px;
  border-radius: 4px;
}
.legend .dark {
  background-color: #666 !important;
}
.legend .legend-left .word,
.legend .legend-right .word {
  display: inline-block;
  margin: 0 10px;
}
.legend .legend-right {
  width: 50%;
}
.legend .legend-right .block {
  float: right;
  display: inline-block;
  background-color: #830000;
  height: 18px;
  width: 32px;
  border-radius: 4px;
}
.legend .legend-right .word {
  float: right;
}

@media only screen and (max-width: 500px) {
  .content-unit .info .intro {
    margin: 20px;
    font-size: 48px;
  }
  .paragraph {
    margin: 10px 20px;
    width: 100%;
  }
  .component-intro {
    margin: 10px 20px;
    width: 100%;
  }
  .blockquote {
    margin: 10px 20px;
    width: 100%;
  }
  .part2-graph {
    margin: 10px 20px;
    width: 80%;
  }
  .image-center {
    margin: 10px 20px;
    width: 100%;
  }
  .contrast-list {
    margin: 10px 20px;
    width: 100%;
  }
  .legend {
    width: 100%;
    margin: 10px 20px 0;
  }
  #banner-wrapper {
    width: 100%;
    margin: 10px 20px 0;
  }
  .timeline {
    width: 100%;
    margin: 10px 20px 0;
  }
  .view-diff .comment {
    width: 100%;
    height: 100%;
  }
  .view-diff .comment p {
    padding: 0 10px;
    margin: 10px 0;
  }
  .view-diff .comment div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    /* 居中 */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .reference {
    width: 100%;
    margin: 10px 20px 0;
  }
  .newtimes {
    width: 100%;
    margin: 50px 20px 0;
  }
}
@media only screen and (max-width: 350px) {
  .view-diff .comment p {
    padding: 0 5px;
    margin: 0;
  }
  .view-diff .comment div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    /* 居中 */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@media only screen and (min-width: 500px) {
  .content-unit .info .intro {
    margin: 60px;
    font-size: 72px;
  }
  .paragraph {
    width: 80%;
    margin: 10px 0;
  }
  .component-intro {
    width: 80%;
    margin: 10px 0;
  }
  .blockquote {
    width: 80%;
    margin: 10px 0;
  }
  .part2-graph {
    width: 80%;
    margin: 10px 0;
  }
  .image-center {
    width: 80%;
    margin: 10px 0;
  }
  .contrast-list {
    width: 80%;
    margin: 10px 0;
  }
  .legend {
    width: 80%;
    margin: 10px 0 0;
  }
  #banner-wrapper {
    width: 80%;
    margin: 10px 0 0;
  }
  .timeline {
    width: 80%;
    margin: 10px 0 0;
  }
  .view-diff .comment {
    width: 60%;
    padding: 20px;
  }
  .reference {
    width: 80%;
    margin: 10px 0 0;
  }
  .newtimes {
    width: 80%;
    margin: 50px 0 0;
  }
}
@media only screen and (min-width: 800px) {
  .content-unit .info .intro {
    margin: 96px;
    font-size: 108px;
  }
}
@media only screen and (min-width: 1000px) {
  .content-unit .info .intro {
    margin: 100px;
    font-size: 144px;
  }
  .reference {
    font-size: 16px;
    line-height: 1.8;
  }
  .newtimes {
    width: 80%;
    margin: 50px 0 0;
  }
  .newtimes .logo {
    width: 25%;
  }
}